body {
    background-color:rgb(255, 250, 223);
}

/*sandwich*/


#sandwich {
    width: 500px;
    height: 500px;
    padding: 20%;
}

#brot {
    animation-name: brotOben;
    animation-duration: 1000ms;
    transform-box: fill-box;
    animation-direction: alternate;
    animation-delay: 1600ms;
    transform: translateY(-700px);
    animation-fill-mode: forwards;
    animation-timing-function: linear;  
}

#salatOben {
    animation-name: salatOben;
    animation-duration: 2100ms;
    animation-delay: 1000ms;
    transform-box: fill-box;
    transform-origin: right;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform: translateY(-700px);
    animation-fill-mode: forwards;  

}

#salatUnten {
    animation-name: salatUnten;
    animation-duration: 1600ms;
    animation-delay: 500ms;

    transform-box: fill-box;
    transform-origin: right;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform: translateY(-700px);
    animation-fill-mode: forwards; 

}

#kaese {
    animation-name: kaese;
    animation-duration: 1600ms;
    animation-delay: 900ms;
    transform-box: fill-box;

    animation-timing-function: linear;
    transform: translateY(-700px);
    animation-fill-mode: forwards; 

}

#wurst {
    animation-name: wurst;
    animation-duration: 1600ms;
    animation-delay: 1100ms;
    transform-box: fill-box;
    animation-play-state: inherit;

    animation-timing-function: linear;
    transform: translateY(-700px);
    animation-fill-mode: forwards;  

}

@keyframes brotOben {

    100% { transform: translateY(100px);
    }
}

@keyframes salatOben {

    
    50% { transform: translateY(70px) rotate(-5deg);
    }

    100% { transform: translateY(86px);
    }
}

@keyframes salatUnten {

    
    50% { transform: translateY(10px)rotate(-5deg);
    }
    80% { transform: translateY(15px)rotate(2deg);
    }
    100% { transform: translateY(20px);
    }
}

@keyframes kaese {
  50% { transform: translateY(20px) rotate(-6deg);
    }

    100% { transform: translateY(40px);
    }
}

@keyframes wurst {

    
    50% { transform: translateY(50px) rotate(1deg);
    }

    100% { transform: translateY(65px);
    }
}


/*tee*/

#kanne {
    animation-name: kanne;
    animation-duration: 2000ms;
    animation-delay: 3s;
    transform-box: fill-box;
    animation-play-state: inherit;

    animation-timing-function: linear;

    animation-fill-mode: forwards;  

}

@keyframes kanne {
50% { transform: rotate(-30deg);
    }

100% { transform: rotate(0deg);
}
}

#dampf1 {
    animation-name: dampf1;
    animation-duration: 2000ms;
    animation-delay: 5s;
    transform-box: fill-box;
    animation-play-state: inherit;
    animation-iteration-count: 2;

}

#dampf2, #dampf2-2 {
    animation-name: dampf2;
    animation-duration: 2000ms;
    animation-delay: 5s;
    transform-box: fill-box;
    animation-play-state: inherit;
    animation-iteration-count: 2;

}

#dampf3 {
    animation-name: dampf3;
    animation-duration: 2000ms;
    animation-delay: 5s;
    transform-box: fill-box;
    animation-play-state: inherit;
    animation-iteration-count: 2;

}

@keyframes dampf1 {

    100% { 
        transform: translateY(-20px);
        opacity:0.0; 
     }
    }

@keyframes dampf2 {

    100% { 
            transform: translateY(-30px);
            opacity:0.0; 
         }
     }
 @keyframes dampf3 {

    100% { 
        transform: translateY(-15px);
                opacity:0.0; 
            }
    }       



/*waschbecken*/


  #tropfen{
      animation-name: rinse;
      animation-duration: 1s;
      animation-iteration-count: 3;
      animation-delay: 10.1s;
      animation-timing-function: linear;
  }
  
  .waschbecken {
      height: 300px;
      width: 300px;
      box-align: center;
      margin-top: 100px;
      margin-left: 30%;
      animation-delay: 10s;
  }
  
  #rechts {
      animation-name: rotate;
      animation-duration: 1s;
      animation-iteration-count: 3;
      transform-box: fill-box;
      transform-origin: center;
      animation-delay: 1s;
      animation-timing-function: ease-out;
      animation-delay: 10s;
  }
  
  #bubble1 {
      animation-name: bubble1;
      animation-duration: 5s;
      animation-iteration-count: 1; 
      animation-timing-function:ease-in-out;
      animation-iteration-count: 1;
      transform-origin: center;
      animation-delay: 10s;
  }
  
  #bubble2 {
      animation-name: bubble2;
      animation-duration: 5s;
      animation-iteration-count: 1; 
      animation-timing-function:ease-in-out;
      animation-direction: reverse;
      transform-origin: center;
      animation-delay: 10s;
      
  }
  
  #bubble3 {
      animation-name: bubble3;
      animation-duration: 5s;
      animation-iteration-count: 1; 
      animation-timing-function:ease-in-out;
      animation-iteration-count: 1;
      transform-origin: right;
      animation-delay: 10s;
  }
  
  
  @keyframes rotate {
      100% { 
          transform: rotate(180deg);
      }
  }
  
  @keyframes rinse {
  50% { transform: translateY(40px);
      opacity: 1;}
  
  100% { 
      transform: translateY(80px);
      opacity:0.0; 
   }
  }
  
  @keyframes bubble1 {
  50% {
      transform: rotate(7deg);
  }
  
  100% {
      transform: rotate(0deg‚);
  }
  }

  @keyframes bubble2 {
    50% {
        transform: rotate(4deg);
    }
    
    100% {
        transform: rotate(0deg‚);
    }
    }
  
    @keyframes bubble3 {
        50% {
            transform: rotate(4deg);
        }
        
        100% {
            transform: rotate(0deg‚);
        }
        }
  
  







