body {
    background-color:rgb(255, 250, 223);
}

/*sandwich*/
#sandwich {
    width: 100px;
    height: 100px;
    padding: 20%;
}

#brot {
    -webkit-animation-name: brotOben;
    -webkit-animation-duration: 1200ms;
    -webkit-transform-box: fill-box;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 1700ms;
    -webkit-transform: translateY(-700px);
    -webkit-animation-fill-mode: forwards;  
}

#salatOben {
    -webkit-animation-name: salatOben;
    -webkit-animation-duration: 2100ms;
    -webkit-animation-delay: 1000ms;
    -webkit-transform-box: fill-box;
    -webkit-transform-origin: right;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateY(-700px);
    -webkit-animation-fill-mode: forwards;  
}

#salatUnten {
    -webkit-animation-name: salatUnten;
    -webkit-animation-duration: 1600ms;
    -webkit-animation-delay: 500ms;
    -webkit-transform-box: fill-box;
    -webkit-transform-origin: right;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateY(-700px);
    -webkit-animation-fill-mode: forwards; 
}

#kaese {
    -webkit-animation-name: kaese;
    -webkit-animation-duration: 1600ms;
    -webkit-animation-delay: 900ms;
    -webkit-transform-box: fill-box;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateY(-700px);
    -webkit-animation-fill-mode: forwards; 
}

#wurst {
    -webkit-animation-name: wurst;
    -webkit-animation-duration: 1600ms;
    -webkit-animation-delay: 1100ms;
    -webkit-transform-box: fill-box;
    -webkit-animation-play-state: inherit;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translateY(-700px);
    -webkit-animation-fill-mode: forwards;  
}

@keyframes brotOben {
    100% { -webkit-transform: translateY(100px);
    }
}

@keyframes salatOben {
    50% { -webkit-transform: translateY(70px) rotate(-5deg);
    }

    100% { -webkit-transform: translateY(86px);
    }
}

@keyframes salatUnten {
    50% { -webkit-transform: translateY(10px)rotate(-5deg);
    }
    80% { -webkit-transform: translateY(15px)rotate(2deg);
    }
    100% { -webkit-transform: translateY(20px);
    }
}

@keyframes kaese {
  50% { -webkit-transform: translateY(20px) rotate(-6deg);
    }
    100% { -webkit-transform: translateY(40px);
    }
}

@keyframes wurst {
    50% { -webkit-transform: translateY(50px) rotate(1deg);
    }
    100% { -webkit-transform: translateY(65px);
    }
}

/*tee*/
#kanne {
    -webkit-animation-name: kanne;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-delay: 3s;
    -webkit-transform-box: fill-box;
    -webkit-animation-play-state: inherit;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;      
}

@keyframes kanne {
    50% { -webkit-transform: rotate(-30deg);
    }
    100% { -webkit-transform: rotate(0deg);
    }
}

#dampf1 {
    -webkit-animation-name: dampf1;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-delay: 5s;
    -webkit-transform-box: fill-box;
    -webkit-animation-play-state: inherit;
    -webkit-animation-iteration-count: 2;
}

#dampf2, #dampf2-2 {
    -webkit-animation-name: dampf2;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-delay: 5s;
    -webkit-transform-box: fill-box;
    -webkit-animation-play-state: inherit;
    -webkit-animation-iteration-count: 2;
}

#dampf3 {
    -webkit-animation-name: dampf3;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-delay: 5s;
    -webkit-transform-box: fill-box;
    -webkit-animation-play-state: inherit;
    -webkit-animation-iteration-count: 2;
}

@keyframes dampf1 {
    100% { 
        -webkit-transform: translateY(-20px);
        -webkit-opacity:0.0; 
    }
}

@keyframes dampf2 {
    100% { 
        -webkit-transform: translateY(-30px);
        -webkit-opacity:0.0; 
    }
}
@keyframes dampf3 {
    100% { 
        -webkit-transform: translateY(-15px); 
        -webkit-opacity:0.0; 
        }
}       

/*waschbecken*/
#tropfen{
    -webkit-animation-name: rinse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-delay: 11s;
  -webkit-animation-timing-function: linear;
  }
  
.waschbecken {
    -webkit-height: 300px;
    -webkit-width: 300px;
    -webkit-box-align: center;
    -webkit-margin-top: 100px;
    -webkit-margin-left: 30%;
    -webkit-animation-delay: 10s;
}
  
#rechts {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 3;
    -webkit-transform-box: fill-box;
    -webkit-transform-origin: center;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 10s;
}
  
#bubble1 {
    -webkit-animation-name: bubble1;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: center;
    -webkit-animation-delay: 10s;
}
  
#bubble2 {
    -webkit-animation-name: bubble2;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: reverse;
    -webkit-transform-origin: center;
    -webkit-animation-delay: 10s;  
}

#bubble3 {
    -webkit-animation-name: bubble3;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: right;
    -webkit-animation-delay: 10s;
}
  
@keyframes rotate {
    100% { 
        -webkit-transform: rotate(180deg);
    }
}
  
@keyframes rinse {
    50% { -webkit-transform: translateY(40px);
    -webkit-opacity: 1;
    }
  
    100% { 
      transform: translateY(80px);
      opacity:0.0; 
    }
}
  
  @keyframes bubble1 {
  50% {
    -webkit-transform: rotate(7deg);
  }
  
  100% {
    -webkit-transform: rotate(0deg‚);
  }
  }

  @keyframes bubble2 {
    50% {
        -webkit-transform: rotate(4deg);
    }
    
    100% {
        -webkit-transform: rotate(0deg‚);
    }
    }
  
    @keyframes bubble3 {
        50% {
            -webkit-transform: rotate(4deg);
        }
        
        100% {
            -webkit-transform: rotate(0deg‚);
        }
        }
  
  







